<section id="activated-coupons">
  <h2>Activated Coupons</h2>
  <% @merchant.coupons.activated_coupons.each do |coupon| %>
    <p><%= link_to "#{coupon.name}", merchant_coupon_path(@merchant.id, coupon.id) %> <%= coupon.value %> <%= coupon.coupon_type %> Off!</p>
  <% end %>
</section>

<section id="disabled-coupons">
    <h2>Disabled Coupons</h2>
  <% @merchant.coupons.disabled_coupons.each do |coupon| %>
    <p><%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %> <%= coupon.value %> <%= coupon.coupon_type %> Off!</p>
  <% end %>
</section>

<section>
  <h2>Upcoming Holidays</h2>
  <p><%= @holidays_3.name1 %> - <%= @holidays_3.date1 %></p>
  <p><%= @holidays_3.name2 %> - <%= @holidays_3.date2 %></p>
  <p><%= @holidays_3.name3 %> - <%= @holidays_3.date3 %></p>
</section>

<section>
  <%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant.id) %>
</section>